
    
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
    }
    header img{
        height:35px;
        width:121px;
        margin-top: 7px;
        margin-left: 45px;
    }
    nav{
height:55px;
    }
    nav ul{
margin-top: -25px;
margin-left:432px;
    }
    nav ul :hover{
        color: red;
    }

    nav ul li{
        display: inline-block;
        
    }
    a{
    
        text-decoration: none;
        color: #0075bd;
        padding-left: 25px;
        }
      .phone img{
          height:18px;
          width: 12px;
          margin-top: -21px;
          margin-left:792px;
          margin-bottom: 44px;
      }  
    h2{
          margin-top: -70px;
          margin-left: 808px;
      }
      .icon img{
          height:15px;
          width: 15px;
          margin-top: -123px;
          margin-left:1232px;
          margin-bottom:61px;
      }
      .linie ul{
           margin-top:-81px;
           margin-bottom: -84px;
      margin-left:1077px;
    }
      .linie ul  li{
        
        display: inline-block;
    
      }
      .linie a{
          color:  #0075bd;
      }
      .menu{
        background-color:#0075bd;
margin-top: 10px;
        
        width: 100%;
        height: 55px;
        
    }
      .flag img{
          margin-top: -22px;
          margin-bottom: 44px;
          border-radius: 100%;
          width: 21px;
          height: 16px;
          margin-left:1011px;
      }
    #para{
          background-color: dodgerblue;
          border-radius: 50%;
         padding:  8px;
          width:35px;
          text-align: center;
          margin-left: 45px;
          color:  #0075bd;
         margin-top: -45px;
         
      }
    #para2{
          color: white;
          margin-left: 88px;
        margin-top: -28px;
      }
      
    .MyDateDisplay{
        height: 12px;
        color: white;
        width: 100%;
        margin-left: -100px;
       text-align: right;
       margin-top: -21px;
    }
.mes img{
    height: 21px;
    width: 21px;
    margin-top: -15px;
    margin-bottom: 33px;
    margin-left: 1171px;
    
}


#loc img{
    
    height: 21px;
    width: 21px;
    margin-top: -76px;
    margin-bottom: 53px;
    margin-left: 1202px;
}
.toyo{
    background-color: red;
    height: 75px;
    width: 100%;
    margin-top: -51px;
}
#inf ul li{
    margin-top: -45px;
    margin-left: 65px;
    list-style: none;
    color: #0075bd;
}
#inf span{
    color: gray;
}
#imge img{
    height:21px;
    width: 21px;
    margin-left: 1181px;
    margin-top: -45px;
    margin-bottom: 11px;
      
}
.not{
    background-color: orange;
    height:55px;
    width:92%;
    margin-top: 8px;
  margin-left: 45px;
}
    
.not img{
    height: 21px;
    width:21px;
}